services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hypersolid-app
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
      - /app/dist
    environment:
      - NODE_ENV=development
      - PORT=3000
    command: pnpm start:dev
